.pms-options-form {
	.pms-categories {
		.cat {
			display: grid;
			grid-template-columns: 45px 200px 45px;
			grid-gap: .3em;
			margin: .5em 0;

			.handle {
				margin: 3px;
				background-color: #ccc;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 4px;
				cursor: grab;
			}	
		}
	}
}